services:
  mongodb:
    container_name: mongodb-wichat_en3a
    image: mongo
    profiles: ["dev", "prod"]
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - mynetwork

  userservice:
    container_name: userservice-wichat_en3a
    image: ghcr.io/arquisoft/wichat_en3a/userservice:latest
    profiles: ["dev", "prod"]
    build: ./userservice
    depends_on:
      - mongodb
    ports:
      - "8100:8100"
    networks:
      - mynetwork
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/users

  wikidataservice:
    container_name: wikidataservice-wichat_en3a
    image: ghcr.io/arquisoft/wichat_en3a/wikidataservice:latest
    profiles: ["dev", "prod"]
    build: ./wikidataservice
    depends_on:
      - mongodb
    ports:
      - "8101:8101"
    networks:
      - mynetwork
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/users

  hintservice:
    container_name: hintservice-wichat_en3a
    image: ghcr.io/arquisoft/wichat_en3a/hintservice:latest
    profiles: ["dev", "prod"]
    build: ./hintservice
    ports:
      - "8200:8200"
    environment:
      - LLM_APIKEY="AIzaSyCFPIigrprk0_6zz2JJzfvBsTG0hNXSLto"
    networks:
      - mynetwork

  webapp:
    container_name: webapp-wichat_en3a
    image: ghcr.io/arquisoft/wichat_en3a/webapp:latest
    profiles: ["dev", "prod"]
    build: ./webapp
    depends_on:
        - mongodb
        - userservice
    environment:
        - USERSERVICE_URL=http://userservice:8100
    ports:
      - "8000:8000"
    networks:
      - mynetwork


volumes:
  mongodb_data:

networks:
  mynetwork:
    driver: bridge
