<!DOCTYPE html>
<html lang="es">
<head>
    <th:block th:insert="fragments/head"></th:block>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/wordle.css">
</head>
<body>
    <nav th:replace="fragments/nav"></nav>
    <main class="game-container">
        <h1>Guess the word!</h1>
        <div th:if="${hasWon}">
            <h2>Congratulations, you guessed the word</h2>
        </div>
        <div class="grid">
            <div class="grid-row" th:each="attempt, attemptStat : ${attemptsSplit}">
                <div class="grid-cell"
                     th:each="letter, letterStat : ${attempt}"
                     th:text="${letter}"
                     th:classappend="${feedbackHistory[attemptStat.index][letterStat.index] == T(com.uniovi.wichatwebapp.entities.Wordle.LetterFeedback).CORRECT ? ' correct' :
                                 (feedbackHistory[attemptStat.index][letterStat.index] == T(com.uniovi.wichatwebapp.entities.Wordle.LetterFeedback).MISPLACED ? ' misplaced' : ' wrong')}">
                </div>
            </div>
        </div>
        <div class="attempts-info">
            <p>Attempts left: <span th:text="${wordle.remainingAttempts}">6</span></p>
        </div>
        <div class="solution-message" th:if="${solutionWord}">
            <p>Game over, the word was: <strong th:text="${solutionWord}">PALABRA</strong></p>
        </div>
        <form id="wordForm" action="/wordle/guess" method="post" onsubmit="waitingCursor()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input id="guess" type="text" name="guess" minlength="5" maxlength="5" required placeholder="Introduce">
            <button id="wordSubmit" class="small-button" type="submit">↵</button>
        </form>
        <form action="/wordle/reset" method="post" onsubmit="waitingCursor()">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button  class="small-button" type="submit">Restart</button>
        </form>

    </main>
</body>
</html>
