<div class="chat-wrapper">
    <div class="chat-container">
        <link rel="stylesheet" href="/css/chat.css"> <!-- Enlaza el archivo CSS -->
        <button id="startChat" class="chat-icon-button">
            <img src="/images/chat-icon.png" alt="Iniciar chat" class="chat-icon">
        </button>

        <div id="chatBox">
            <div class="chat-header">
                Wizard IA
            </div>

            <div id="chatMessages">
                <!-- Aquí aparecerán los mensajes -->
            </div>

            <div class="chat-input">
                <input type="text" id="userInput" placeholder="Escribe un mensaje...">
                <button id="sendMessage">↵</button>
            </div>
        </div>
        <script src="/script/chat.js"></script> <!-- Enlaza el archivo JavaScript -->
    </div>
</div>