<div class="loader-bar">
    <!-- Blocks will be dynamically managed by JavaScript -->
    <div class="block-border"></div>
    <div class="block-border"></div>
     <div class="block-border"></div>
     <div class="block-border"></div>
     <div class="block-border"></div>
     <div class="block-border"></div>
     <div class="block-border"></div>
     <div class="block-border"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
     <div class="block-meter hidden"></div>
</div>
<script src="/script/loader-bar.js"></script>
