<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<h1 th:text="${question.getContent()}">The question will be here</h1>
<img th:src="${question.getImageUrl()}">
<div th:each="answer : ${question.getAnswers()}">
    <h2><button th:text="${answer.getText()}"></button></h2>
</div>
</body>
</html>