<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/head :: head('Question')"></th:block>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/nav.css"/>
    <link rel="stylesheet" href="/css/loading.css"/> <script src="/script/loading.js"></script>

</head>
<body class="home-bg">
<nav th:replace="fragments/nav"></nav>
<main class="home-container">
    <div class="content-wrapper">
        <div class="additional-frame">
            <button class="nav-button left-button" onclick="changeText(-1)"></button>
            <p id="frame-text">SPORT</p>
            <button class="nav-button right-button" onclick="changeText(1)"></button>
        </div>

        <div class="button-container">
            <button id="startGameButton" class="game-link big-button-anchor" onclick="waitingCursor(); startGame()" sec:authorize="isAuthenticated()">
                Start Game
            </button>
            <a href="/game/personalized" class="game-link big-button-anchor" sec:authorize="isAuthenticated()" onclick="waitingCursor()">
                Custom Game
            </a>
            <a href="/akinator" class="game-link big-button-anchor" sec:authorize="isAuthenticated()" onclick="waitingCursor()">
                Oracle’s Veil
            </a>
        </div>
    </div>
    <script src="/script/home.js"></script>
</main>
</body>
</html>


<!--
<h2 class="home-title">Home</h2>
<p class="welcome-message">Welcome, <span th:text="${user.name}"></span>!</p>
<a href="/logout" class="logout-button">Logout</a>
-->