<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head :: head('Login')">
</head>
<body>
    <nav th:replace="fragments/nav"></nav>
    <img src="/css/images/qwizz.png" width="250"/>
    <form method="post" action="/login" class="form">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" placeholder="Enter your email" required="true"/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required="true"/>
        <button type="submit">Login</button>
        <p th:if="${param.error}" class="error">
            Invalid username or password. Please try again.
        </p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </form>
    <a href="/signup">Signup</a>
</body>
</html>